html {
    background-color: lightblue;
}

header {
    text-align: center;
}

.page-header .page-footer {
    font-family: 'PT Serif', serif;
}


h1 {
    font-size: 4em;
    margin: 0;
}

.page-header p {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
}

footer {
    text-align: center;
}

/* Floated elements to place on 1 block*/


.citation-images {
    height: 100px;
	float: left;
	display:block;
	background: white;
	padding: 10px;
	margin: 10px;
}

.citation-links {
    height: 100px;
	float: left;
	display: block;
	background: white;
    padding: 10px;
    margin: 10px;
    
}

.page-footer ul {
    text-align: center;
    list-style-position: inside;
    margin-top: -5px
}

/* Body */

body {
    font-family: 'Crimson Text', serif;
    max-width: 950px;
    margin: 0 auto;
    
}

.sam {
    float: left;
    margin: 0 25px 15px 0;
}
   

/* Centered poem text and formatted font to display more clearly in front of background image */
#content {
    clear: both;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    background-image: url("images/hiking-the-sand-dunes.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 0 25px 0;
}

hr {
    height: 3px;
    border: none;
    background-color: black;
}

h2 {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}